@import "./common";

.container{
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid gray;
    border-radius: 10px;
    @include pad{
        width: 75%;
    }
    @include pc{
        width: 50%
    }
}
.space {
    margin-bottom: 50px;
}